.add-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.add-btn:hover {
    background-color: #333;
}