.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.Navbar .logo {
    width: max(17%, 80px);
}

.Navbar .profile {
    width: 40px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout-btn {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.logout-btn:hover {
    background: tomato;
    color: white;
}