.Footer {
    color: #d9d9d9;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 50px;
    margin-top: 0px;
}

.FooterContent {

    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.FooterContentLeft,
.FooterContentMiddle,
.FooterContentRight {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.FooterContentLeft li,
.FooterContentMiddle li,
.FooterContentRight li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.logo {
    width: 250px;
}

.FooterContentMiddle h2,
.FooterContentRight h2 {
    color: white;
}

.FooterSocial {
    display: flex;
    gap: 15px;
}

.socialIcon {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    color: #fff;
}

.socialIcon:hover {
    background-color: #eded05;
    border-color: #eded05;
    color: black;
    transform: translateY(-3px);
}

.Footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #eded05;
    border: none;
}

.aboutLink {
    color: #ff6b4a;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.aboutLink:hover {
    text-decoration: underline;
    color: #ffb03b;
}

@media (max-width:750px) {
    .FooterContent {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .FooterCopyrigth {
        text-align: center;
    }
}