name: Notify Fork on Push

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send webhook to forked repo
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/restro77-Deba/Restro-FullStack-Copy/dispatches \
          -d '{"event_type":"sync-from-parent"}'
